<h1>Nuevo Destinatario</h1>
<div>
<div>
<form [formGroup]="formDestinatario" (ngSubmit)="craarDestinatario()">
  <table>
    <tr>
      <td>RUT</td>
      <td>Nombre</td>
    </tr>
    <tr>
      <td><input type="text" formControlName="rut"></td>
      <td><input type="text" formControlName="nombre"></td>
    </tr>
    <tr><br></tr>
    <tr>
      <td>Correo</td>
      <td>Telefono</td>
    </tr>
    <tr>
      <td><input type="text" formControlName="correo"></td>
      <td><input type="text" formControlName="telefono"></td>
    </tr>
    <tr><br></tr>
    <tr>
      <td>Banco</td>
      <td>Tipo de cuenta</td>
    </tr>
    <tr>
      <td><mat-select  formControlName="banco">
        <mat-option *ngFor="let banco of bancos" [value]="banco.id">{{banco.name}}</mat-option>
      </mat-select>
      </td>
      <td><mat-select  formControlName="tipoCuenta">
        <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.id">{{cuenta.descripcion}}</mat-option>
      </mat-select>
      </td>
      <br>
    </tr>
    <tr><br></tr>
    <tr>
      <td>Nº De Cuenta</td>
    </tr>
    <tr>
      <td><input type="text" formControlName="numeroCuenta"></td>
    </tr>
    <tr><br></tr>
    <tr>
      <td><button mat-button type="submit">Crear</button></td>
    </tr>
  </table>
</form>
</div>
</div>
