# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules/
front-ripley/dist/
front-ripley/.firebase(
# Other files and folders
.settings/
.idea
front-ripley/firebase.json
front-ripley/.firebaserc
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
