<h1>Historial</h1>

<table mat-table [dataSource]="transferencias" class="mat-elevation-z8">

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre destinatario </th>
    <td mat-cell *matCellDef="let element"> {{element.destinatario.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="rut">
    <th mat-header-cell *matHeaderCellDef> RUT</th>
    <td mat-cell *matCellDef="let element"> {{element.destinatario.rut}} </td>
  </ng-container>

  <ng-container matColumnDef="banco">
    <th mat-header-cell *matHeaderCellDef> Banco</th>
    <td mat-cell *matCellDef="let element"> {{element.destinatario.banco.name}} </td>
  </ng-container>

  <ng-container matColumnDef="cuenta">
    <th mat-header-cell *matHeaderCellDef> Tipo de cuenta</th>
    <td mat-cell *matCellDef="let element"> {{element.destinatario.cuenta.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef> Monto</th>
    <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
